- if @game.errors.full_messages.length > 0
    = "Errors:"
    - @game.errors.full_messages.each do |error|
        %br=error
    %hr
        

%h2 Create New Game
= form_tag games_path, :method => :post do
    = label :game, :name, 'Name'
    %br
    = text_field :game, :name
    %br
    
    = label :game, :pegi, 'Pegi'
    %br
    = select :game, :pegi, ['3','7','12','16','18']
    %br
    
    = label :game, :genre, 'Genre'
    %br
    = text_field :game, :genre
    %br
    
    = label :game, :maker, 'Maker'
    %br
    = text_field :game, :maker
    %br
    
    = label :game, :year, 'Released on'
    %br
    = date_select :game, :year, :start_year => 1960
    %br
    
    = label :game, :description, 'Description'
    %br
    = text_area :game, :description, size: "100x30"
    %br
    
    = submit_tag 'Save'
